<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily</title>
    <!-- Import Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Import stylesheets -->
    <link href="/styles/header.css" rel="stylesheet" />
    <link href="/styles/account.css" rel="stylesheet" />
    <link href="/styles/footer.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("../partials/header.ejs")%>
    <section id="account">
      <% if (pokemon.length) {%>
      <div id="my-pokemon">
        <% for (var i = 0; i < pokemon.length; i++) {%> <% if
        (pokemon[i].quantity) { %>
        <div class="pokemon">
          <div class="pokemon-image">
            <img
              src="<%= pokemon[i].image%>"
              alt="image of the <%= `${i + 1}th`%> Pokémon"
            />
            <%= (pokemon[i].legendary || pokemon[i].mythical) ? "🟡" : "⚪" %>
          </div>
          <ul>
            <li>Pokédex Number: <%= pokemon[i].pokedex_number %></li>
            <li>
              Name: <%= pokemon[i].name[0].toUpperCase() +
              pokemon[i].name.slice(1) %>
            </li>
            <li>
              Primary Type: <%= pokemon[i].primary_type[0].toUpperCase() +
              pokemon[i].primary_type.slice(1) %>
            </li>
            <li>
              Secondary Type: <%= pokemon[i].secondary_type[0].toUpperCase() +
              pokemon[i].secondary_type.slice(1) %>
            </li>
            <li>Owned: <%= pokemon[i].quantity %></li>
          </ul>
        </div>
        <% } %> <% if (pokemon[i].quantity_shiny) { %>
        <div class="pokemon">
          <div class="pokemon-image">
            <img
              src="<%= pokemon[i].image_shiny%>"
              alt="image of the <%= `${i + 1}th`%> Pokémon in its shiny variant"
            />
            <%= (pokemon[i].legendary || pokemon[i].mythical) ? "🟡✨" :
            "⚪✨"%>
          </div>
          <ul>
            <li>Pokédex Number: <%= pokemon[i].pokedex_number %></li>
            <li>
              Name: <%= pokemon[i].name[0].toUpperCase() +
              pokemon[i].name.slice(1) %>
            </li>
            <li>
              Primary Type: <%= pokemon[i].primary_type[0].toUpperCase() +
              pokemon[i].primary_type.slice(1) %>
            </li>
            <li>
              Secondary Type: <%= pokemon[i].secondary_type[0].toUpperCase() +
              pokemon[i].secondary_type.slice(1) %>
            </li>
            <li>Owned: <%= pokemon[i].quantity_shiny %></li>
          </ul>
        </div>
        <% } %> <%}%>
      </div>
      <% } else { %>
      <div id="no-pokemon">
        <h1>No Pokémon Owned by this user! 😔</h1>
      </div>
      <%}%>
      <div id="account-buttons">
        <button onclick="window.location.href='/'">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-house-door-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"
            />
          </svg>
          Home
        </button>
        <button onclick="window.location.href='/logout'">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-door-open-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"
            />
          </svg>
          Logout
        </button>
      </div>
    </section>
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
